<!DOCTYPE html>
<html lang="en">
<title>Home Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>OpenLayers Simplest Example</title>

<style>
    .Map{
        margin-top:100px
        }
</style>

<!-- Navbar -->
<div class="w3-top" style=position:relative >
    <div class="w3-bar w3-theme-d2 w3-left-align">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="Home.html" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
        <a href="Readings.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Readings</a>
        <a href="Map.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Map</a>
        <a href="Schematics.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Schematics</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
    </div>
</div>
<!--Navbar end-->

<div id="Map" style="height:100vh;position:relative"></div>
<script src="static/OpenLayers.js"></script>
<script>
    var map;
function init() {
    map = new OpenLayers.Map("Map");
    map.addLayer(new OpenLayers.Layer.OSM());

    var gpsX = {{ Long }};
    var gpsY = {{ Lat }};

    var lonLat1 = new OpenLayers.LonLat(gpsX[0], gpsY[0])
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );

    var zoom=8;

    var markers = new OpenLayers.Layer.Markers("Markers");
    map.addLayer(markers);

    markers.addMarker(new OpenLayers.Marker(lonLat1));

    var lonLat2 = new OpenLayers.LonLat(gpsX[1], gpsY[1])
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );
    markers.addMarker(new OpenLayers.Marker(lonLat2));


    map.setCenter (lonLat2, zoom);
}

function addMarker(int)
{
    var lonLat1 = new OpenLayers.LonLat(gpsX[int], gpsY[int])
    .transform(
      new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
      map.getProjectionObject() // to Spherical Mercator Projection
    );
    markers.addMarker(new OpenLayers.Marker(lonLat1));
}
</script>
    <body onload="init()">
    </body>
